.container {
  margin: 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-light);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#editorjs-container {
  max-width: 1600px;
  min-height: 500px;
  background-color: var(--bg-color-input-light);
  margin-top: 10px;
  border-bottom: 2px solid #ddd;
}

.container-options {
  margin-top: 10px;
  align-self: flex-end;
}

.editor-input {
  width: 100%;
  margin-block: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  font-size: 1.2rem;
  background: var(--bg-color-input-light);
}
