@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-lightPurple: #dcb3e1;
  --color-darkPurple: #bf8cff;
  --color-lightText: #ffffff;
  --color-darkText: #000000;
  --color-lightBackground: #ffffff;
  --color-darkBackground: #181818;
}
